body {
background-color: black;
margin: 0px;
padding: 0px;
font-family: 'Montserrat', sans-serif;
}

.conteiner {
	max-width: 1440px;
	margin: 0px auto;
}
@media (max-width: 1440px){
	.conteiner {
		max-width: 1200px;
	}
}
@media (max-width: 1200px){
	.conteiner {
		max-width: 970px;
	}
}
@media (max-width: 992px){
	.conteiner {
		max-width: 750px;
	}
}
@media (max-width: 767px){
	.conteiner {
		max-width: none;
	}
}
.header__conteiner {
	position: relative;
	height: 704px;
	max-width: 1440px;
	background-image: url(img/image_2.png);
	border: solid 1px;

}

.logo {
	position: relative;
	top: 42px;
	left: 35px;
	margin-bottom: 30px;
}

.slogan {
	color: white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Montserrat', sans-serif;
	
	margin-top: 327px;
}
.slogan h2 {
	margin: 0px;
	font-size: 60px;
	font-weight: bold;
}

.slogan h3 {
	font-size: 14px;
	font-weight: 300;
}

.menu__list {
	list-style: none; 
	float: right;
	margin-right: 270px;
	margin-top: 35px;
	color: white;
	box-sizing: border-box;
}

.menu__list li{
	display: inline;
	margin-right: 50px;
	color: white;
	text-decoration: none;
}
.menu__list a{
	color: white;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
}

.btn {
	
	
	display: block;
	margin-top: 51px;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
	max-width: 264px;
	height: 64px;
	background-color: rgba(42, 108, 238, 1);
	text-align: center;
	border-radius: 100px;
	font-weight: 700;
}
.btn_content {
	padding-top: 10px;
	display: block;
	
	text-decoration: none;
	color: white;
}
.info__menu {
	display: flex;
	flex-wrap:wrap;
	background-color: black;
	min-height: 210px;
	margin-left: 0px;
	margin-right: 0px;
	min-width: 100%;

}

.info__menu__item {
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	box-sizing: border-box;
	min-width: 200px;
	width: 25%;
	height: 210px;
	float: left;
	
}
.info__menu__logo {
	
	margin-left: 0 auto;
	margin-top: 30px;
	margin-bottom: 16px; 
}
.info__menu__text {
	
	text-decoration: none;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	text-align: center;
}
.info__menu div {
	border-right: solid 1px rgba(42, 42, 42, 1);
	border-left: solid 1px rgba(42, 42, 42, 1);
}

.about_us {
	display: flex;
	align-items:center;
	flex-wrap:wrap;
	background-color: snow;
	
}
.content1 {
	height: 589px;
}

.text_about{
	max-width: 524px;
	margin: 0px 71px 38px 137px;
}

.img_about {
	
	max-width: 525px;
	max-height: 295px;
	
}

.text_title {
	font-size: 34px;
	font-weight: 700;
	margin: 60px 0px;

}
.text_title {
	font-size: 34px;
	font-weight: 700;
	margin: 60px 0px;

}



